
  <div class="col-sm-9 col-md-7 col-lg-3 mx-auto my-10">
    <div class="card card-signin">
      <div class="card-body">
        <h5 class="card-title">Sign In</h5>
        <form class="form-signin">
          <div class="form-label-group mb-lg-3">
            <!-- <label for="inputEmail">Email address</label> -->
            <input type="email" id="inputEmail" class="form-control" name="username" placeholder="Email address" autofocus [(ngModel)]="user.username">
          </div>

          <div class="form-label-group mb-lg-3">
            <!-- <label for="inputPassword">Password</label> -->
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" [(ngModel)]="user.password">
          </div>

          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Remember password</label>
          </div>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
          (click)="login()">Sign in</button>
        </form>
      </div>
    </div>
  </div>
