<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="sideNav">
    <a class="navbar-brand">
        <span class="d-block d-lg-none">Start Bootstrap</span>
        <span class="d-none d-lg-block">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../../assets/Logo.png" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/app/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/app/customer" routerLinkActive="active">Customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/app/supplier" routerLinkActive="active">Supplier</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/app/sale" routerLinkActive="active">Sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/app/purchase" routerLinkActive="active">Purchase</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/app/contact" routerLinkActive="active">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/app/item" routerLinkActive="active">Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/app/bank" routerLinkActive="active">Bank</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/app/report" routerLinkActive="active">Reports</a>
          </li>
        </ul>
      </div>
</nav>