<div class="container-fluid">
  <div class="row d-flex">
    <div class="ml-3 mr-3 d-flex col-md-12">
    <div class="col-lg-3 mt-md-3">
        <div class="card">
            <h4 class="text-center">Customer</h4>
        </div>
    </div>
    <div class="col-lg-3 mt-md-3">
      <div class="card">
        <h4 class="text-center">Customer</h4>
      </div>
    </div>
    <div class="col-lg-3 mt-md-3">
      <div class="card">
        <h4 class="text-center">Customer</h4>
      </div>
    </div>
    </div>
  </div>
</div>